*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html,body{
    height: 100%;
    width: 100%;
}
.navbar{
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
}
.navbar a{
     font-size: 40px;
     text-decoration: none;
     color: black;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-weight: lighter;
     margin-left: 60px;
     transition: color 0.3s ease-in;
}
.navbar a:hover{
    color: steelblue;
    text-decoration: underline;
}
.navbar a span{
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-weight: lighter;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navbar .links{
    list-style: none;
    display: flex;
    margin-top: 15px;
}
.navbar #icon{
    display: none;
}
.navbar .links li a{
    font-size: 18px;
    font-weight: lighter;
    color: rgb(84, 84, 84);
    transition: color 0.3s ease-in;
}
.navbar .links li a:hover{
    text-decoration: underline;
    color: black;
}
.navbar .btn{
    background-color: steelblue;
    border: 1px solid steelblue;
    padding: 5px;
    margin-right: 60px;
    margin-bottom: 15px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease-in;
    border-radius: 5px;
}
.navbar .btn:hover{
   background-color: rgb(255, 255, 255);
   color: steelblue;
   border: 1px solid steelblue;
}
.hero{
    height: 100%;
    width: 100%;
    display: flex;
}
 /* .row{
    /* width: 100%;
    display: flex; */
/* } */
.hero  .col-left{
    margin-top: 70px;
    margin-left: 120px;
    /* width: 50%; */
}
.hero  .col-left h6{
    font-size: 20px;
}
.hero  .col-left h1{
    font-size: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: steelblue;
}
.hero  .col-left p{
    color: rgb(84, 84, 84);

}
.hero  .col-left p span{
    color: black;
    font-weight: bold;
}
.hero  .col-left button{
    background-color: steelblue;
    color: white;
    border: 1px solid steelblue;
    border-radius: 50px;
    padding: 10px;
    width: 100px;
    /* font-size: 15px; */
    font-weight: bold;
    transition: background-color 0.3s ease-in;

}
.hero  .col-left button:hover{
    background-color: rgb(255, 255, 255);
    color: steelblue;
    border: 1px solid steelblue;

}
.hero  .col-right{
       height: 100%;
       width: 100%;
}
.hero .col-right img{
         height: 80%;
         width: 100%;       
}
#h1{
    text-align: center;
    color: steelblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 40px;
}
/* .about{
    height: 100%;
    width: 100%;
    display: flex;

}
.about .col_left{
    width: 50%;
    height: 50%;
    position: relative;
    left: 10%;
    top: 5%;
}
.about .col_left img{
    width: 85%;
    margin-left: 30px;
    border-radius: 10px;
}
.about .col_right{
    width: 50%;
    height: 100%;
    background-color: rgb(211, 225, 230);
    margin-right: 140px;
    border-radius: 5px;
}
.about .col_right p{
    margin-top: 100px;
    font-size: 18px;
    margin-left: 100px;
    color: rgb(84, 84, 84);
}
.about .col_right button{
  margin-left: 110px;
  font-size: 18px;
  padding: 7px;
  border-radius: 5px;
  background-color: steelblue;
  border: 1px solid steelblue;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s ease-in;
}
.about .col_right button:hover{
  background-color: white;
  color: steelblue;    
}
   */

   .about {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 40px 20px;
}

.about .col_left,
.about .col_right {
    width: 50%;
}

.about .col_left img {
    width: 100%;
    /* max-width: 400px; */
    border-radius: 10px;
    margin-left: 150px;
}

.about .col_right {
    background-color: rgb(211, 225, 230);
    padding: 30px;
    border-radius: 8px;
    margin-right: 150px;
    margin-left: 100px;
}

.about .col_right p {
    font-size: 18px;
    color: rgb(84, 84, 84);
    line-height: 1.6;
}

.about .col_right a button {
    margin-top: 20px;
    font-size: 18px;
    padding: 8px 14px;
    border-radius: 5px;
    background-color: steelblue;
    border: 1px solid steelblue;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
}
.about .col_right a button:hover{
    background-color: rgb(255, 255, 255);
    color: steelblue;
    border: 1px solid steelblue;

}


/* skills css */

.skills{
    width: 100%;
    background-color: steelblue;
    margin-top: 100px;
    text-align: center;
    padding: 50px;
}
.skills h1{
   color: white;
}
.skills p{
    color: rgb(221, 219, 219);
}
.skills .allbox{
    display: flex;
    gap: 20px;
    margin: 40px;
}
.skills .allbox .box{
    height: 10%;
    border-radius: 10px;
    width: 40%;
    background-color: rgb(211, 225, 230);
    padding: 30px;
    border: 3px solid steelblue;
    transition: border 0.3s ease-in;
}
.skills .allbox .box:hover{
    border: 3px solid white;
}
.skills .allbox .box img{
    height: 100px;
}
.skills .allbox .box h3{
    font-size: 20px;
    padding-top: 10px;
}
.skills .allbox .box h4{
    font-size: 25px;
}

/* services css */

.services{
    width: 100%;
    margin-top: 70px;
    text-align: center;
}
.services h1{
    color: steelblue;
}
.services p{
    color: rgb(84, 84, 84);
}
.services .bigbox{
    display: flex;
    gap: 70px;
    text-align: left;
    margin: 80px;
}
.services .bigbox .box{
    padding: 30px;
    border: 1px solid white;
    transition: border 0.3s ease-in;
    border-radius: 20px;
}
.services .bigbox .box:hover{
    border: 1px solid steelblue;
    border-radius: 20px;
}
.services .bigbox .box i{
    background-color: steelblue;
    color: white;
    font-size: 40px;
    height: 50px;
    width: 70px;
    padding: 5px;
    border-radius: 5px;
}
.services .bigbox .box h4{
    margin-top: 20px;
}

/* project css */
.project{
    background-color: steelblue;
    text-align: center;
    padding: 50px;
}
.project h1{
    color: white;
}
.project p{
    color: rgb(221, 219, 219);
}
.project .bigBox{
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 50px;
}
.project .bigBox .box1{
    background-image: url(../images/ecommerce.webp);
    /* background-position: ; */
    height: 300px;
    width: 40%;
    border-radius: 20px;
}
.project .bigBox .box2{
    background-image: url(../images/admindashboard.jpeg);
    /* background-position: ; */
    height: 300px;
    width: 40%;
    border-radius: 20px;
}
.project .bigBox .box3{
    background-image: url(../images/blog.webp);
    background-position: center;
    height: 300px;
    width: 40%;
    border-radius: 20px;
}
.project .bigBox .box4{
    background-image: url(../images/booking.jpg);
    background-position: center;
    height: 300px;
    width: 40%;
    border-radius: 20px;
}
.project .bigBox .box:hover{
   
}
.project .bigBox .box1 .balar{
    background-color: rgba(255, 255, 255, 0.511);
    position: relative;
    top: 66.8%;
    height: 100px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}
.project .bigBox .box2 .balar{
    background-color: rgba(255, 255, 255, 0.511);
    position: relative;
    top: 66.8%;
    height: 100px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}
.project .bigBox .box3 .balar{
    background-color: rgba(255, 255, 255, 0.511);
    position: relative;
    top: 66.8%;
    height: 100px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}
.project .bigBox .box4 .balar{
    background-color: rgba(255, 255, 255, 0.511);
    position: relative;
    top: 66.8%;
    height: 100px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}
.project .bigBox .box1 .balar h5{
    font-size: 23px;
    padding-top: 30px;
}
.project .bigBox .box2 .balar h5{
    font-size: 23px;
    padding-top: 30px;
}
.project .bigBox .box3 .balar h5{
    font-size: 23px;
    padding-top: 30px;
}
.project .bigBox .box4 .balar h5{
    font-size: 23px;
    padding-top: 30px;
}

/* contact css */
.contact{
    background-color: rgb(242, 248, 254);
    display: flex;
    justify-content: center;
}
.contact .form{
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 40px;
}
.contact .form h2{
    color: steelblue;
    font-weight: bold;
}
.contact .form p{
    color: rgb(84, 84, 84);
}
.contact .form input{
    padding: 8px;
    border-radius: 5px;
    border: 1px solid rgb(167, 165, 165);
}
.contact .form  #email{
    width: 82%;
}
.contact .form  #messageBox{
    width: 82%;
    height: 20%;
}
.contact .form button{
    width: 82%;
    font-size: 18px;
    padding: 7px;
    border-radius: 5px;
    background-color: steelblue;
    border: 1px solid steelblue;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease-in;
    margin-bottom: 50px;
}
.contact .form button:hover{
    background-color: white;
    color: steelblue;    
}
.contact .formImgandIntro{
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: rgb(238, 241, 243);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 30px;
}
.contact .formImgandIntro img{
   border-radius: 10px;
}
.contact .formImgandIntro .email{
    border-radius: 10px;
    background-color: steelblue;
    margin-top: 20px;
    padding: 1px;
    color: white;
    display: flex;
    align-items: center;
    gap: 12px;
}
.contact .formImgandIntro i{
    margin-left: 10px;
    font-size: 20px;
}
.contact .formImgandIntro .text{
    margin-top: 8px;
    line-height: 10px;
}
.contact .formImgandIntro .phone{
    border-radius: 10px;
    background-color: steelblue;
    margin-top: 20px;
    padding: 1px;
    color: white;
    display: flex;
    align-items: center;
    gap: 12px;  
}
/* hire me css */
.hireMe{
    background-color: steelblue;
    width: 100%;
    text-align: center;
    padding: 50px;
}
.hireMe h1{
    font-size: 40px;
    color: white;
}
.hireMe button{
    width: 10%;
    font-size: 17px;
    padding: 8px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid white;
    color: steelblue;
    font-weight: bold;
    transition: background-color 0.3s ease-in;
    margin-top: 20px;
}
.hireMe button:hover{
    background-color: steelblue;
    color: white;    
}
/* footer css */
footer{
    background-color: rgb(242, 248, 254);
    text-align: center;
}
footer .top{
   padding: 50px;
}
footer .top ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
footer .top ul li a{
    text-decoration: none;
    padding: 20px;
    font-size: 18px;
    color: rgb(84, 84, 84);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: color 0.3s ease-in;
}
footer .top ul li a:hover{
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
footer .bottom{
    border-top: 1px solid steelblue;
    padding: 10px;
}
footer .bottom p{
    padding-top: 10px;
    color: rgb(84, 84, 84);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}



















































@media (max-width: 768px) {

    /* Logo */
    .navbar a{
        font-size: 30px;
        margin-left: 20px;
    }

    .navbar a span{
        font-size: 40px;
    }

    /* Hide links */
    .navbar .links{
        display: none;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: white;
        flex-direction: column;
        text-align: center;
        padding: 20px 0;
    }

    .navbar .links li{
        margin: 15px 0;
    }

    /* Show icon */
    /* .navbar #icon{
        display: block;
        font-size: 20px;
        cursor: pointer;
        margin-right: 20px;
    }
    .navbar #icon:hover{
        color: steelblue;
    } */
    .navbar {
        position: relative;
    }
    
    .navbar #icon {
        display: block;
        position: absolute;
        right: 20px;
        font-size: 25px;
        cursor: pointer;
        margin-bottom: 5px;
    }
    

    /* Hide resume button */
    /* .navbar .btn{
        display: none;
    } */
    .navbar .btn {
        font-size: 14px;
        padding: 5px 8px;
        margin-left: 10px;
        margin-top: 10px;
    }
    .links.show{
        display: flex;
    }
    

    /* ================= HERO ================= */
    .hero {
      flex-direction: column;
      text-align: center;
    }
  
    .hero .col-left {
      margin: 20px;
      order: 2;
    }
  
    .hero .col-left h1 {
      font-size: 40px;
    }
  
    .hero .col-right {
      width: 100%;
    }
  
    .hero .col-right img {
      width: 90%;
      margin: auto;
    }
  
    /* ================= ABOUT ================= */
    /* #h1{
        margin-top: 300px;
    }
    .about {
        flex-direction: column;
        text-align: center;
    }

    .about .col_left,
    .about .col_right {
        width: 70%;
    }

    .about .col_right {
        padding: 20px;
    }

    .about .col_right p {
        font-size: 16px;
    }

    .about .col_right button {
        margin: 20px auto;
        display: block;
    } */

    #h1 {
        margin-top: 300px;   /* 300px is too much for mobile */
    }

    .about {
        flex-direction: column;
        text-align: center;
    }

    .about .col_left{
        width: 100%;
        margin-right: 300px;
    }
    .about .col_right {
        width: 100%;        /* FULL width on mobile */
        margin: 0 auto; 
     /* center content */
    }

    .about .col_right {
        padding: 20px;
    }

    .about .col_right p {
        font-size: 16px;
    }

    .about .col_right button {
        margin: 20px auto;
        display: block;
    }
  
    /* ================= SKILLS ================= */
    .skills {
      padding: 20px;
    }
  
    .skills .allbox {
      flex-direction: column;
      margin: 0;
    }
  
    .skills .allbox .box {
      width: 100%;
      margin-bottom: 20px;
    }
  
    /* ================= SERVICES ================= */
    .services .bigbox {
      flex-direction: column;
      margin: 20px;
      gap: 20px;
    }
  
    /* ================= PROJECTS ================= */
    .project .bigBox {
      flex-direction: column;
    }
  
    .project .bigBox .box1,
    .project .bigBox .box2,
    .project .bigBox .box3,
    .project .bigBox .box4 {
      width: 100%;
    }
  
    /* ================= CONTACT ================= */
    .contact {
      flex-direction: column;
    }
  
    .contact .form,
    .contact .formImgandIntro {
      width: 90%;
      margin: 20px auto;
      border-radius: 10px;
    }
    .contact .formImgandIntro img{
        width: 100%;
     }
    .contact .form #lsname{
        margin-top: 20px;
    }
    .contact .form input,
    .contact .form button {
      width: 100%;
    }
    .contact .form #email{
        width: 100%;
    }
    .contact .form #messageBox{
        width: 100%;
    }
  
    /* ================= HIRE ME ================= */
    .hireMe h1 {
      font-size: 28px;
    }
  
    .hireMe button {
      width: 60%;
    }
    footer .top {
        padding: 30px 15px;
      }
    
      footer .top ul {
        flex-direction: column;
        gap: 12px;
      }
    
      footer .top ul li a {
        padding: 10px;
        font-size: 16px;
      }
    
      footer .bottom p {
        font-size: 14px;
      }
    }
  



